body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #580000;
}

.slider {
    width: 100%;
    max-width: 40rem;
    overflow: hidden;
}

.slider__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider__slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.slider__slide img {
    width: 100%;
    height: 35em;
}

.slider__text-wrapper {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    /* overflow: hidden; */
}

.slider__text {
    flex: 1;
    text-align: left;
    min-width: 100%;
    overflow: hidden;
    color: #fff;
    transition: 0.5s ease-in-out;
}

input[type="radio"] {
    display: none;
}

#meme1:checked ~ .slider__slides {
    transform: translateX(0%);
}
#meme1:checked ~ .slider__text-controls-wrapper .slider__text-wrapper {
    transform: translateX(0%);
}
#meme1:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme2__text {
    opacity: 0;
}

#meme2:checked ~ .slider__slides {
    transform: translateX(-100%);
}
#meme2:checked ~ .slider__text-controls-wrapper .slider__text-wrapper {
    transform: translateX(-100%);
}
#meme2:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme2__text {
    opacity: 1;
}
#meme2:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme3__text {
    opacity: 0;
}

#meme3:checked ~ .slider__slides {
    transform: translateX(-200%);
}
#meme3:checked ~ .slider__text-controls-wrapper .slider__text-wrapper {
    transform: translateX(-200%);
}
#meme3:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme3__text {
    opacity: 1;
}
#meme3:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme4__text {
    opacity: 0;
}

#meme4:checked ~ .slider__slides {
    transform: translateX(-300%);
}
#meme4:checked ~ .slider__text-controls-wrapper .slider__text-wrapper {
    transform: translateX(-300%);
}
#meme4:checked ~ .slider__text-controls-wrapper .slider__text-wrapper #meme4__text {
    opacity: 1;
}

.slider__controls {
    display: flex;
    justify-content: right;
    z-index: 2;
}

.slider__controls label {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0 0.25rem;
    padding: 0.25rem;
}

.slider__control span {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff6f6;
}

input[type="radio"]:checked + label {
    background-color: #000000;
}

.slider__text-controls-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 666px) {
    .container {
        width: 80%;
    }

    .slider {
        height: 35rem;
    }

    .slider__slide img {
        height: 25rem;
    }

    .slider__text-controls-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .slider__controls {
        order: 1;
    }

    .slider__text-wrapper {
        order: 2;
    }
}